body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.muli-font-bold {
    font-family: muli, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .muli-font {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  /* Text Colors + Size */
.blue-color {
    color: #61DAFB;
  }
  .white-color {
    color: white;
  }
  .grey-color {
    color: #565D68;
  }
  .black-color {
    color: black;
  }

  .large-text {
    font-size: 4rem;
  }
  .medium-text {
    font-size: 3rem;
  }
  .small-text {
    font-size: 1.6rem;
  }

  /* Headings */

  .main-header {
    padding: 2% 0% 2% 2%;
  }
  .second-header {
    padding: 2% 0% 2% 3%;
  }

  .container-1 {
    background-color: #f1f0f0;
    padding-bottom: 2%;
  }
  .container-2 {
    background-color: #f9f9fa;
    padding-bottom: 2%;
  }
  .container-3 {
    background-color: #f1f0f0;
  }

  .icon-social {
    height: 25%;
    width: 25%;
    opacity: .6;
  }
  .icon-text {
    font-size: 1.5rem;
    text-decoration: none;
    color: #565D68;
  }
  .icon-ul {
    list-style-type: none;
  }

  .side-nav {
    z-index: 2;
    position: fixed;
    right: 2%;
    top: 2%;
  }
  .nav-text {
    font-size: 2rem;
    text-decoration: none;
    color: #565D68;
    opacity: .7;
  }
  .nav-text:hover {
    opacity: 1;
  }
  .dot {
    list-style-type: disc;
  }