.mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .mobile {display: block;}       
  .desktop {display: none;}
}

.change {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: #282c34;
}

.c-wrapper {
    position: absolute;
    z-index: 0;
}

.info-front {
    position: absolute;
    z-index: 1;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mulit-font-bold {
    font-family: muli, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .muli-font {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  /* Text Colors + Size */
.blue-color {
    color: #61DAFB;
  }
  .white-color {
    color: white;
  }
  .grey-color {
    color: #565D68;
  }
  .black-color {
    color: black;
  }

  .large-text {
    font-size: 4vw;
  }
  .medium-text {
    font-size: 3vw;
  }
  .small-text {
    font-size: 1.6vw;
  }

  .large-text-mobile {
    font-size: 4vw;
  }
  .medium-text-mobile {
    font-size: 4vw;
  }
  .small-text-mobile {
    font-size: 2.6vw;
  }

  .gray {
    background-color: rgb(240, 240, 240);
  }
  
  .socials {
    text-align: center;
    padding-top: 1%;
  }