/* #background-video-index {
  width: 99vw;
  height: 170vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#background-video-port {
  width: 99vw;
  height: 135vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
} */

/* Hollow Shapes to use for Animation */
a.circle {
  -moz-border-radius: 100px/100px;
  -webkit-border-radius: 100px 100px;
  border-radius: 100px/100px;
  border: solid 21px#0F9D58;
  width: 200px;
  height: 200px;
  z-index: -1;

  position: absolute;
  left: 200px;
  top: 1300px;  
}

a.square {
  border: solid 30px #DB4437;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  z-index: -1;

  position: absolute;
  left: 1000px;
  top: -200px;
}

a.triangle {
  position: absolute;
  height: 0;
  width: 0;
  top: 10%;
  left: 7px;
  border-left: 7px solid white;
  border-right: 7px solid white;
  border-top: 7px solid white;
}

body {
  background-color: #000000;
}

.lato-title {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}
.container-navbar-inner {
  padding: 0 5%;
}

/* Main Section CSS */
.container-intro {
  background-color: rgba(41, 56, 71, 0.8);
  padding: 5% 15%;
}

.heading-main {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: white;
  /* text-shadow: 2px 2px 10px #000000; */
}
.main-spacing {
  padding-left: 15%;
  padding-top: 8%;
}
.sub-heading-main {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  padding-top: 3%;
  padding-left: 55%;
}
.blue-text {
  color: #388bff;
  text-shadow: 2px 2px 10px #000000;
}
.white-text {
  color: white;
}

/* About Section */
.container-about {
  background-color: #283440;
  padding: 3% 5%;
}

.para {
  padding: 2% 15%;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.25rem;
}


/* Experience Section */
.container-small {
  background-color: rgba(41, 56, 71, 0.8);
  padding: 3% 20%;
}
.heading-exp {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}
.sub-heading-exp {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}
.small-heading-exp {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem;
  color: white;
  padding-bottom: 5%;
  padding-top: 10%;
}
.link-heading {
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
}
.list-items {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  color: white;

  padding-top: 3%;
}

/* Contact Section */
.container-contact {
  /* background-color: rgba(40, 52, 64, 0.5); */
  background-color: #283440;
  padding: 3% 5%;
}
.container-socials {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}
.heading-contact {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}
.btn-link {
  color: grey;
}

.btn-link:hover {
  color: #388bff;
}


.centered {
  text-align: center;
}
.left {
  text-align: left;
}

.pfp {
  border-radius: 30%;
  width: 40%;
  margin-left: 30%;
  box-shadow: 2px 2px 10px #000000;
}


/* Portfolio CSS */
.container-portfolio {
  padding: 2% 5%;
  background-color: rgba(40, 52, 64, 0.5);
}
.heading-portfolio {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 10px #000000;
  padding: 2% 0;
}
.portfolio {
  width: 500px;
  height: 375px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3% 3%;
}
.portfolio:hover {
  -webkit-filter: brightness(40%);
  padding: 0;
  border-style: solid;
  border-color: white;
}
.port-text {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
}


/* CopyRight */
footer {
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: rgba(41, 56, 71, 1);
}
.copyright {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}
